* {
  box-sizing: border-box;
  border-radius: 10px;
}

* :hover {
  border-radius: 20px;
  border-style: double;
}

* :active {
  background: linear-gradient(180, yellow, red);
}

body {
  background-repeat: no-repeat;
  background-image: url("../img/cloudsPhoto.jpg");
  background-position: center;
  width: 100%;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/*div.container {
  width: 100%;
  line-height: 150%;
}*/

header, footer {
  color: #edf3ff;
  clear: left;
  text-align: center;
  background-color: lightgreen;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: aquamarine;
  text-align: center;
}

div.trackEntry {
  /* NOTE:  */
}

#myTitleButton{
  /* NOTE:  */
}

#myTrackDetails {
  color: purple;
  font-weight: bold;
  display: none;
}

a.HTMLtrackTitle {
  /* NOTE:  */
}

div.HTMLtrackDetails {
  /* NOTE:  */
}

div.myTracksForm {
/* NOTE:  */
}

#myFormButton {
  /* NOTE:  */
}

div.myBlankForm {
  /* NOTE:  */
}



@media screen and (min-width: 768px) {
  .column {
    width: 30%;
    float: left;
    padding: 20px;
  }
}

@media screen and (max-width: 768px) and (min-width: 600px) {
  body {
    background-color: black;
    color: white;
  }
}

@media screen and (max-width: 480px) {
  body {
    background-color: teal;
  }
}
